.alpha {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  color: white;
  font-size: 50px;
}

.butter {
  color:aquamarine;
  font-size: 16px;
  text-align: center;
}
